<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логін</title>
</head>
<body>
    <h1>Вхід у систему</h1>
    <form method="POST" action="/login">
        <label>Користувач:</label>
        <input type="text" name="username" required><br>
        <label>Пароль:</label>
        <input type="password" name="password" required><br>
        <input type="submit" value="Вхід">
    </form>
</body>
</html>
