<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Додати Властивість</title>
</head>
<body>
    <h1>Додати Властивість</h1>
    <form method="POST" action="/add_property">
        <label>Назва властивості:</label>
        <input type="text" name="name" required><br>
        <label>Одиниці виміру:</label>
        <input type="text" name="units" required><br>
        <input type="submit" value="Додати">
    </form>
</body>
</html>
